*.pyc
/build*
.env
.env.*
*.pem
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
.ssh/
/.cproject
/.clangd
/.settings
/*.deb
/typescript
gmon.out
/*.sync
/perf.data*
luac.out
*.patch
/CMakeLists.local
.DS_Store
autosave-*
/.vscode
compile_commands.json
/.cache
/*.AppImage
/update_dir
